@model List<finalProject.Models.Candidate>

@{
    WebGrid obj = new WebGrid(Model);
}
@using (Html.BeginForm())
{

@obj.GetHtml(tableStyle: "table table-hover table - striped",
            htmlAttributes: new { id = "allCandidateTable" },
            columns: obj.Columns(
                        obj.Column(header: "Select", format:@<text><input name="chaked" type="checkbox" value="@item.Id" /></text>),
                                obj.Column(columnName: "Id", header: "userId"),
                                obj.Column(header: "name", format:@<text> @item.firstName @item.LastName</text>, canSort: false),
                                obj.Column(columnName: "gander", header: "Gander", canSort: false),
                                obj.Column(columnName: "Birtday", header: "Birtday", canSort: false),
                                obj.Column(columnName: "jobTitle", header: "Job", canSort: false),
                                obj.Column(columnName: "status", header: "Status", canSort: false)
                                    ))
}
<br />
<div>
    <table>
        <tr>
            <td>User ID</td>
            <td><input type="text" id="idforupdate" /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="text" id="passWordForNew" /></td>
        </tr>
        <tr>
            <td>new status</td>
            <td><input type="text" id="newStatusUpdate" /></td>
        </tr>
        <tr>
            <td>
                <button type="submit" id="hireNewCandidate">hire candidate</button>
                <button type="submit" id="DeleteCandidate">delete candidate</button>
                <button type="submit" id="updateCandidateStatus">update candidate</button>
            </td>
        </tr>
    </table>
    <p id="statusCandidate"></p>
</div>




<script>




     $(document).ready(function () {
         $("#DeleteCandidate").click(function () {
                 document.getElementById("loadingCandidateData").innerHTML = "deliting candidate"
             $.post("@Url.Action("deleteCandidate", "Admin")", {
                 id: $("#idforupdate").val(),
             },
                    function (data, status) {
                        document.getElementById("statusCandidate").innerHTML = "suseeful in delete candidate"
                    });
            });
        });

    $(document).ready(function () {
        $("#updateCandidateStatus").click(function () {
                 document.getElementById("loadingCandidateData").innerHTML = "updating candidate"
             $.post("@Url.Action("updateCandidate", "Admin")", {
                 id: $("#idforupdate").val(),
                 newStatus: $("#newStatusUpdate").val()
             },
                    function (data, status) {
                        document.getElementById("statusCandidate").innerHTML = "suseeful in update candidate"
                    });
            });
        });


    $(document).ready(function () {
        $("#hireNewCandidate").click(function () {
            var toHire = [];
            $.each($("input[name='chaked']:checked"), function () {
                $("#statusCandidate").html("HireCandadate candidate" + $(this).val());
                toHire.push($(this).val());
                $.post("@Url.Action("HireCandidate", "Admin")", {
                    id: $(this).val(),
                    password: $(this).val()
             },
                    function (data, status) {
                        document.getElementById("statusCandidate").innerHTML = "suseeful in hiring candidate" + $(this).val();
                    });
            });
            alert("Hired : " + toHire.join(", "));
            location.reload();
        });
    });

</script>

